/* DailyTaskPage.css */
.daily-task-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #dddada;
}

.head {
    text-align: center;
    color: #272525;
}

.task-form {
    display: flex;
    flex-direction: column;
    background-color: #494848;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-controls label {
    color: #fff;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.current-day-tasks {
    margin-top: 20px;
    
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.streak-progress {
    margin-top: 30px;
    background-color: #464646;
    padding: 10px;
}

.streak-grid {
    display: grid;
    grid-template-columns: repeat(7, 30px);
    gap: 5px;
    margin-top: 20px;
}

.streak-day {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.streak-day.completed {
    background-color: #4caf50;
}

/* DailyTask.css */
.color-scale-0 {
    background-color: #f1f1f1; /* Light gray for no completion */
}

.color-scale-1 {
    background-color: #d3ffd3; /* Light green for 1 task completed */
}

.color-scale-2 {
    background-color: #8cff8c; /* Green for 2 tasks completed */
}

/* Add more color scales as needed */

